Non-user -> Registrate

Authorization -> User (Client / Moderator / Admin)

	Client:
- add feedback about Coffee shop
- add dish to own cart
- create order from products inside the cart
- edit your own information

	Moderator:
- ban users

	Admin:
- CRUD all models
- edit role